@font-face {
  font-family: 'Grundee';
  src: url('./fonts/Grundee-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
